EmailWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendRequestEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="estId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="templateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRequestEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendNotificationEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="templateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studentEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNotificationEmailResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendRequestEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendRequestEmail" />
  </wsdl:message>
  <wsdl:message name="SendRequestEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendRequestEmailResponse" />
  </wsdl:message>
  <wsdl:message name="SendNotificationEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendNotificationEmail" />
  </wsdl:message>
  <wsdl:message name="SendNotificationEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendNotificationEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailWSSoap">
    <wsdl:operation name="SendRequestEmail">
      <wsdl:input message="tns:SendRequestEmailSoapIn" />
      <wsdl:output message="tns:SendRequestEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendNotificationEmail">
      <wsdl:input message="tns:SendNotificationEmailSoapIn" />
      <wsdl:output message="tns:SendNotificationEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailWSSoap" type="tns:EmailWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendRequestEmail">
      <soap:operation soapAction="http://tempuri.org/SendRequestEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNotificationEmail">
      <soap:operation soapAction="http://tempuri.org/SendNotificationEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailWSSoap12" type="tns:EmailWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendRequestEmail">
      <soap12:operation soapAction="http://tempuri.org/SendRequestEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNotificationEmail">
      <soap12:operation soapAction="http://tempuri.org/SendNotificationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailWS">
    <wsdl:port name="EmailWSSoap" binding="tns:EmailWSSoap">
      <soap:address location="https://localhost:44302/EmailWS.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailWSSoap12" binding="tns:EmailWSSoap12">
      <soap12:address location="https://localhost:44302/EmailWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>